<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <p>当前版本：{{ layui.setter.version }}</p>
    </script>
    <div class="layui-btn-container">
        <a href="http://www.ppfbh.com/" target="_blank" class="layui-btn  layui-btn-sm layui-btn-danger">官网地址</a>
    </div>
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">

    <blockquote class="layui-elem-quote" style="border: none;">
        联系方式:13606806123（微信同号）<br />
        不允许对程序代码以任何形式、任何目的的再发行或出售，否则将追究侵权者法律责任。<br />
        我们致力于提供高质量的软件维护和商业推广服务，以确保软件的稳定性、安全性和用户满意度。如果您有任何问题或需求，请随时联系我们的维护团队或商业推广团队。感谢您的支持和信任！
    </blockquote>
    <p>© 2021 <a href="http://www.ppfbh.com/" target="_blank">ppfbh.com</a> 版权所有</p>
</div>